data/*
results/*
data_preprocessing/yolo/wound_dataset/*
data_preprocessing/yolo/wound_det/*
__pycache__
.vscode
YOLO/datasets
YOLO/wound_det
.DS_Store
*.csv
inference_asset/*
assets/*
smoke_test/*
.env
static/results/*.jpg
static/results/*.jpeg
static/results/*.png
temp_*
